body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url('https://i.pinimg.com/736x/85/b9/23/85b92396360f5f022523c7250bdff1d6.jpg') no-repeat center center/cover;
  backdrop-filter: blur(15px);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-box {
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  width: 350px;
}

.auth-box input,
.auth-box select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  outline: none;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #00b4d8;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.auth-box button:hover {
  background: #0077b6;
}

